---
import ExternalLink from "../../ExternalLink/ExternalLink";
import GithubLogoBlack from "@/assets/github-logo-black.svg";
import GithubLogoWhite from "@/assets/github-logo-white.svg";
import LinkedinLogoBlack from "@/assets/linkedin-logo-black.svg";
import LinkedinLogoWhite from "@/assets/linkedin-logo-white.svg";
import MailLogoBlack from "@/assets/mail-logo-black.svg";
import MailLogoWhite from "@/assets/mail-logo-white.svg";
import PdfLogoBlack from "@/assets/pdf-logo-black.svg";
import PdfLogoWhite from "@/assets/pdf-logo-white.svg";
import CV from "@/assets/cv/CV_ChrisBerlant_ReactDev.pdf";
import MyPicture from "@/assets/my-picture.png";
import { Image } from "astro:assets";
---

<div class="animate-fade-in ml-2 flex items-center gap-2 md:ml-8 lg:ml-12">
    <Image
        src={MyPicture}
        alt="My picture"
        class="to-full-stack from-front-end size-16 rounded-full bg-gradient-to-tr"
    />
    <div class="flex flex-col">
        <div class="font-robotoMono text-center">Chris Berlant</div>
        <div class="flex">
            <ExternalLink
                variant="profile"
                title="My GitHub profile"
                logo={GithubLogoBlack.src}
                link="https://github.com/chrisberlant"
            />
            <ExternalLink
                variant="profile"
                title="My LinkedIn profile"
                logo={LinkedinLogoBlack.src}
                link="https://www.linkedin.com/in/chris-berlant/"
            />
            <ExternalLink
                variant="profile"
                title="Send me an email"
                logo={MailLogoBlack.src}
                link="mailto:chris.berlant@gmail.com"
            />
            <ExternalLink
                variant="profile"
                title="Download my CV"
                logo={PdfLogoBlack.src}
                link={CV}
                download="CV_ChrisBerlant_ReactDev.pdf"
            />
        </div>
    </div>
</div>
